html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #ddd;
    font-size: 1.1em;
    font-family: "Helvetica Neue", Arial, Sans-serif;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url(header_bg.png) bottom left repeat-x;
    background-size: auto 100%;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    text-shadow: 0px 1px 0px white;
    z-index: 500;
}

header ul{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
    padding: 5px 0;
}

header ul li{
    height: 2rem;
    display: inline-block;
    width: 20%;
    max-width: 200px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    text-indent: 0;
}

header ul li a{
    position: relative;
    transition: all 0.2s ease;
    color: black;
    text-decoration: none;
}

header ul li a:hover{
    top: -2px;
}

header ul li.icon{
    width: 100px;
}

header ul li.icon img{
    height: 3rem;
}

div.section{
    box-sizing: border-box;
    display: block;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0 0 0;
    position: relative;
    max-width: 1000px;
    border: 1px solid gray;
    border-top: none;
    box-shadow: 1px 1px 0px white, inset 1px 0px 0px white;
    overflow-x: hidden;
}

div.section h1{
    font-weight: 200;
    width: auto;
    display: inline-block;
    background: url(header_bg.png) bottom left repeat-x;
    padding: 10px 20px 5px 100px;
    box-shadow: 3px 4px 5px rgba(0,0,0,0.3);
    font-size: 3rem;
}

div.section::after{
    content: " ";
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
}

.left{
    box-sizing: border-box;
    float: left;
    width: 50%;
}

.right{
    box-sizing: border-box;
    float: right;
    width: 50%;
}

.left::after, .right::after, .left::before, .right::after{
    content: " ";
    clear: both;
    width: 100%;
    height: 1px;
    display: block;
}


h2{
    font-weight: 200;
    font-size: 2.8rem;
    margin-top: 1rem;
}

.hero{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.overlay{
    width: 30%;
    position: absolute;
    padding-left: 1rem;
}

.overlay h2{
    width: 150%;
}

.about{
    padding: 10px;
}

.code{
    position: absolute;
    right: -10%;
    height: 90%;
    top: 10%;
}

.person{
    box-sizing: border-box;
    display: block;
    width: 50%;
    padding: 1rem;
    text-align: center;
}

.person img{
    width: 200px;
}

.email_form{
    box-sizing: border-box;
    position: relative;
    padding: 0 0px 0 30px;
}

.email_form form *{
    background: white;
    box-shadow: none;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 1rem;
    margin: 5px;
    padding: 5px;
    width: 80%;
}

.email_form form textarea{
    height: 180px;
}

.email_form form input[type='submit']{
    width: 100px;
    position: absolute;
    left: 30px;
    bottom: -33px;
}

.email_form form input[type='submit']:hover{
    left: 29px;
    bottom: -32px;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
}

.email_form form input[type='submit']:active{
    left: 31px;
    bottom: -34px;
    border-left: 2px solid gray;
    border-top: 2px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

footer{
    background: silver;
    text-align: right;
    font-size: 0.8rem;
    color: #333;
    padding: 20px;
}